Django>=4.0
rasterio
pyproj
numpy
shapely
Pillow
tensorflow
seaborn
matplotlib
leafmap
gunicorn
asgiref==3.8.1
sqlparse==0.5.1
tzdata==2024.2
earthengine-api
plotly
requests
whitenoise
django-cors-headers
scikit-learn
psycopg2-binary
python-dotenv
